body{
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header{
    background-color:rgb(10, 8, 124);    
}

#name-heading{
    font-family: 'Cinzel', serif;
    font-size: 25px;
}
.nav-item{
    margin-left: 5px;
}

.service-icon{
    color: white;
    font-size: 60px;
}

/*animation code*/
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
#name-heading{
    animation: showup 20s infinite;
}
#company-tagline{
animation: showup 20s infinite;
}

#email-contact{
    animation: showup 20s infinite;
}

#mobile-contact{
    animation: showup 20s infinite;
}